@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #19172E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container h1{
    font-size: 2.4rem;
    text-align: center;
}
.form-container{
    display: flex;
    width: 350px;
    min-height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #f1efff;
    border-radius: 8px;
}

.input-form input{
    margin: 5px 0;
    padding: 5px;
    width: auto;
    background-color: transparent;
    border-radius: 3px;
    border: green solid 1px;
    color: black;
}
.input-form input:focus{
    outline: none;
}
.form-container h1{
    color: black;

}
.input-form{
    display: flex;
    flex-direction: column;
    width: 250px;
    /* border: 1px solid red; */
    position: relative;
}
.form-btn button{
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.form-btn button:first-child{
    background-color: green;

}
.form-btn button:last-child{
    background-color: red;
}
.form-btn{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    
}